<!DOCTYPE html>
<html ng-app="radpath">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>RadPath FollowThrough</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-controller="RadPathController as radpath">

        <!-- Add your site or application content here -->
        <div id="container" ng-init="tab = 1">
            <ul id="main-tabs">
                <li ng-class="{ active:tab === 1}" ng-click="tab = 1">Worklist</li>
                <li>My Saved Cases</li>
                <li>Shared Worklists</li>
                <li ng-class="{ active:tab === 2}" ng-click="tab = 2">
                    Follow Up
                    <span ng-show="(radpath.patients | newfollowup).length !== 0">{{(radpath.patients | newfollowup).length}}</span>
                    </li>
                <li>Remote Sites</li>
                <li>SingleView</li>
            </ul>


            <!--****************************
                WORKLIST TAB
            ****************************-->
            <div id="worklist" ng-show="tab === 1" ng-click="hideContextMenues()">

                <table cellpadding="10" style="width:100%">
                  <tr>
                    <th>Patient Name</th>
                    <th>Med Rec No</th> 
                    <th>Study Date</th>
                    <th>Exam Status</th>
                    <th>Exam Loc.</th>
                  </tr>
                  <tr ng-repeat="patient in radpath.patients|worklist" class="worklist_cell" ng-right-click="radpath.showContextMenu($event, patient.id)" id="patient_{{patient.id}}">
                    <td>{{patient.last_name}}, {{patient.first_name}}<div>{{patient.reports[patient.reports.length-1].procedure || patient.reports[patient.reports.length-1].exam_type}}</div></td>
                    <td>#{{patient.reports[patient.reports.length-1].id}}<div>{{patient.reports[patient.reports.length-1].fd_cui}}</div></td> 
                    <td>{{patient.reports[patient.reports.length-1].date}}</td>
                    <td>(completed)</td>
                    <td>TELEMED</td>
                    <td><div class="context-menu menu-{{patient.id}}">
                        <div class="menu-item">Take Control</div>
                        <hr>
                        <div class="menu-item">View Only</div>
                        <div class="menu-item">Show Report</div>
                        <div class="menu-item">Show Radiology Assessment</div>
                        <hr>
                        <div class="menu-item">Add to My Saved Cases</div>
                        <div class="menu-item">One Click Case Save</div>
                        <hr>
                        <div class="menu-item rfu-item">Request Follow Up<div class="small-followup-form form-{{patient.id}}">
                            <form name="requestFeedbackForm" ng-controller="RequestFeedbackController as requestFeedbackCtrl" ng-submit="requestFeedback(patient)" ng-click="$event.stopPropagation()">
                                <div class="requestFeedbackInput">
                                    <div>Any Radiology Report</div>
                                    <input type="checkbox" name="any_radiology" ng-model="feedbackRequest.type.any_radiology">
                                </div>
                                <div class="requestFeedbackInput">
                                    <div>Breast MRI</div>
                                    <input type="checkbox" name="breast_mri" ng-model="feedbackRequest.type.breast_mri">
                                </div>
                                <div class="requestFeedbackInput">
                                    <div>Mammogram</div>
                                    <input type="checkbox" value="mammogram" ng-model="feedbackRequest.type.mammogram">
                                </div>
                                <div class="requestFeedbackInput">
                                    <div>Ultrasound</div>
                                    <input type="checkbox" value="ultrasound" ng-model="feedbackRequest.type.ultrasound">
                                </div>
                                <div class="requestFeedbackInput">
                                    <div>Other Radiology Report</div>
                                    <input type="checkbox" value="other_radiology" ng-model="feedbackRequest.type.other_radiology">
                                </div>
                                <hr>
                                <div class="requestFeedbackInput">
                                    <div>Pathology Report</div>
                                    <input type="checkbox" value="pathology" ng-model="feedbackRequest.type.pathology">
                                </div>
                                <hr>
                                <div class="requestFeedbackInput">
                                    <div>6 Month Follow Up</div>
                                    <input type="checkbox" value="six_month" ng-model="feedbackRequest.type.six_month">
                                </div>
                                <hr>
                                <div class="requestFeedbackInput" id="notes-{{patient.id}}">
                                    <div onclick="addNotes()">Add Notes to Follow Up</div>
                                    <textarea rows="4" cols="27"></textarea>
                                </div>
                                <div class="requestFeedbackInput">
                                    <div>Send to Colleague</div>
                                </div>
                                <hr>
                                <div class="requestFeedbackInput">
                                    <input type='submit' value='Request Follow Up'>
                                </div>
                            </form>
                        </div></div>
                        <hr>
                        <div class="menu-item">Cache Exam</div>
                        <div class="menu-item">View Exam Cache Status</div>
                    </div></td>
                  </tr>
                </table>
            </div>


            <!--****************************
                FOLLOWUP TAB
            ****************************-->

            <div id="followup" ng-show="tab === 2" ng-init="fu_tab = 1;">

                <!-- Sidebar -->
                <ul id="followup-tabs">
                    <li ng-class="{ active:fu_tab === 1}" ng-click="fu_tab = 1; hideCaseDetail()">
                        New Follow Up
                        <span>{{(radpath.patients | newfollowup).length}}</span>
                    </li>
                    <li ng-class="{ active:fu_tab === 2}" ng-click="fu_tab = 2; hideCaseDetail()">
                        All Pending
                        <span>{{(radpath.patients|pending).length}}</span>
                    </li>
                    <li ng-class="{ active:fu_tab === 3}" ng-click="fu_tab = 3; hideCaseDetail()">
                        Starred
                        <span>{{(radpath.patients|starred).length}}</span>
                    </li>
                    <li ng-class="{ active:fu_tab === 4}" ng-click="fu_tab = 4; hideCaseDetail()">
                        Pending Pathology
                        <span>{{(radpath.patients | pending | pendingPath).length}}</span>
                    </li>
                    <li ng-class="{ active:fu_tab === 5}" ng-click="fu_tab = 5; hideCaseDetail()">
                        Pending Radiology
                        <span>{{(radpath.patients | pending | pendingRad).length}}</span>
                    </li>
                    <li ng-class="{ active:fu_tab === 6}" ng-click="fu_tab = 6; hideCaseDetail()">
                        Archived
                        <span>{{(radpath.patients | archive).length}}</span>
                    </li>
                </ul>

                <!-- Headers -->
                <div class="fu_header" ng-show="detail == false">
                    <div>Patient Information</div>
                    <div>Your Report</div>
                    <div>Latest Findings</div>
                    <div>Status</div>
                </div>

                <!-- Back to list from detail view -->
                <div class="fu_header fu_header_detail" ng-show="detail == true">
                    <a href="#" ng-click="hideCaseDetail()">&#60; Back to List</a>
                    <div class="continue-followup" ng-click="detailForm = !detailForm">Continue Follow Up</div>
                </div>


                <!-- New Follow-up -->
                <div class="fu_container" id="new_fu" ng-show="fu_tab === 1 && detail === false">
                    <div ng-repeat="patient in radpath.patients | newfollowup" class="overview_cell"  ng-click="showCaseDetail(patient)">
                        <div class="cell_section_1">
                            <div class="cell_star" ng-class="{starred:patient.star}" ng-click="radpath.toggleStar(patient.id); $event.stopPropagation();"></div>
                            <h2>{{patient.last_name}}, {{patient.first_name}}</h2>
                            <p>#{{patient.reports[patient.reports.length-1].id}}<br/>Primary: Dr. {{patient.physician}}</p>
                        </div>
                        
                        <div class="cell_section_4">
                            <p class="status_type">{{findObjs('type', 'rad', patient.reports)[0].exam_type}} Report</p>
                            <p class="normal">{{findObjs('type', 'rad', patient.reports)[0].recommend}}{{findObjs('type', 'rad', patient.reports)[0].findings}}</p><div class="jewel">L : {{findObjs('type', 'rad', patient.reports)[0].LBIRAD}}</div>
                        </div>
                        <div class="cell_section_3">
                            <p class="status_type">{{last(patient.reports).procedure || last(patient.reports).exam_type}} Summary</p>
                            <p class="normal">{{last(patient.reports).findings}}</p><div class="jewel path-jewel">{{findObjs('type', 'path', patient.reports)[0].classification}}</div>
                        </div>
                        <div class="cell_section_2">
                            <p class="completed">{{patient.reports[patient.reports.length - 1].procedure || patient.reports[patient.reports.length - 1].exam_type}} Completed<br><span>{{findObj('type', 'path', patient.reports).date}}</span></p>
                            <ul class="normal">
                                <li ng-show="!patient.requested_feedback.is_fulfilled" class='pending'><span>Pending feedback</span></li>
                                <li ng-repeat="r in findObjs('type', 'path', patient.reports)"><span>{{r.procedure}} report complete</span></li>
                                <li ng-repeat="r in findObjs('type', 'rad', patient.reports)"><span>{{r.exam_type}} complete</span></li>
                            </ul>
                        </div>

                        <div class="button-container">
                            <div class="cell-button">Mark as Read</div>
                            <div class="cell-button">Archive</div>
                            <div class="cell-button">Send to Colleague</div>
                        </div>
                    </div>
                </div>

                <!-- All Pending -->
                <div class="fu_container" id="pending_fu" ng-show="fu_tab === 2  && detail === false">
                    <div ng-repeat="patient in radpath.patients | pending" class="overview_cell"  ng-click="showCaseDetail(patient)">
                        <div class="cell_section_1">
                            <div class="cell_star" ng-class="{starred:patient.star}" ng-click="radpath.toggleStar(patient.id); $event.stopPropagation();"></div>
                            <h2>{{patient.last_name}}, {{patient.first_name}}</h2>
                            <p>#{{patient.reports[patient.reports.length-1].id}}<br/>Primary: Dr. {{patient.physician}}</p>
                        </div>
                        
                        <div class="cell_section_4">
                            <p class="status_type">{{findObjs('type', 'rad', patient.reports)[0].exam_type}} Report</p>
                            <p class="normal">{{findObjs('type', 'rad', patient.reports)[0].recommend}}{{findObjs('type', 'rad', patient.reports)[0].findings}}</p><div class="jewel">L : {{findObjs('type', 'rad', patient.reports)[0].LBIRAD}}</div>
                        </div>
                        <div class="cell_section_3">
                            <p class="status_type">{{last(patient.reports).procedure || last(patient.reports).exam_type}} Summary</p>
                            <p class="normal">{{last(patient.reports).findings}}</p><div class="jewel path-jewel">{{findObjs('type', 'path', patient.reports)[0].classification}}</div>
                        </div><div class="cell_section_2">
                            <p class="completed">{{patient.reports[patient.reports.length - 1].procedure || patient.reports[patient.reports.length - 1].exam_type}} Completed<br><span>{{findObj('type', 'path', patient.reports).date}}</span></p>
                            <ul class="normal">
                                <li ng-show="!patient.requested_feedback.is_fulfilled" class='pending'><span>Pending feedback</span></li>
                                <li ng-repeat="r in findObjs('type', 'path', patient.reports)"><span>{{r.procedure}} report complete</span></li>
                                <li ng-repeat="r in findObjs('type', 'rad', patient.reports)"><span>{{r.exam_type}} complete</span></li>
                            </ul>
                        </div>

                        <div class="button-container">
                            <div class="cell-button">Mark as Read</div>
                            <div class="cell-button">Archive</div>
                            <div class="cell-button">Send to Colleague</div>
                        </div>
                    </div>
                </div>

                <!-- Starred -->
                <div class="fu_container" id="starred_fu" ng-show="fu_tab === 3 && detail === false">
                    <div ng-repeat="patient in radpath.patients | starred" class="overview_cell"  ng-click="showCaseDetail(patient)">
                        <div class="cell_section_1">
                            <div class="cell_star" ng-class="{starred:patient.star}" ng-click="radpath.toggleStar(patient.id); $event.stopPropagation();"></div>
                            <h2>{{patient.last_name}}, {{patient.first_name}}</h2>
                            <p>#{{patient.reports[patient.reports.length-1].id}}<br/>Primary: Dr. {{patient.physician}}</p>
                        </div>
                        
<div class="cell_section_4">
                            <p class="status_type">{{findObjs('type', 'rad', patient.reports)[0].exam_type}} Report</p>
                            <p class="normal">{{findObjs('type', 'rad', patient.reports)[0].recommend}}{{findObjs('type', 'rad', patient.reports)[0].findings}}</p><div class="jewel">L : {{findObjs('type', 'rad', patient.reports)[0].LBIRAD}}</div>
                        </div>
                        <div class="cell_section_3">
                            <p class="status_type">{{last(patient.reports).procedure || last(patient.reports).exam_type}} Summary</p>
                            <p class="normal">{{last(patient.reports).findings}}</p><div class="jewel path-jewel">{{findObjs('type', 'path', patient.reports)[0].classification}}</div>
                        </div>

                        <div class="cell_section_2">
                            <p class="completed">{{patient.reports[patient.reports.length - 1].procedure || patient.reports[patient.reports.length - 1].exam_type}} Completed<br><span>{{findObj('type', 'path', patient.reports).date}}</span></p>
                            <ul class="normal">
                                <li ng-show="!patient.requested_feedback.is_fulfilled" class='pending'><span>Pending feedback</span></li>
                                <li ng-repeat="r in findObjs('type', 'path', patient.reports)"><span>{{r.procedure}} report complete</span></li>
                                <li ng-repeat="r in findObjs('type', 'rad', patient.reports)"><span>{{r.exam_type}} complete</span></li>
                            </ul>
                        </div>

                        

                        <div class="button-container">
                            <div class="cell-button">Mark as Read</div>
                            <div class="cell-button">Archive</div>
                            <div class="cell-button">Send to Colleague</div>
                        </div>
                    </div>
                </div>

                <!-- Pending Pathology -->
                <div class="fu_container" id="pending_path_fu" ng-show="fu_tab === 4 && detail === false">
                     <div ng-repeat="patient in radpath.patients | pending | pendingPath" class="overview_cell" ng-click="showCaseDetail(patient)">
                        <div class="cell_section_1">
                            <div class="cell_star" ng-class="{starred:patient.star}" ng-click="radpath.toggleStar(patient.id); $event.stopPropagation();"></div>
                            <h2>{{patient.last_name}}, {{patient.first_name}}</h2>
                            <p>#{{patient.reports[patient.reports.length-1].id}}<br/>Primary: Dr. {{patient.physician}}</p>
                        </div>
                        
<div class="cell_section_4">
                            <p class="status_type">{{findObjs('type', 'rad', patient.reports)[0].exam_type}} Report</p>
                            <p class="normal">{{findObjs('type', 'rad', patient.reports)[0].recommend}}{{findObjs('type', 'rad', patient.reports)[0].findings}}</p><div class="jewel">L : {{findObjs('type', 'rad', patient.reports)[0].LBIRAD}}</div>
                        </div>
                        <div class="cell_section_3">
                            <p class="status_type">{{last(patient.reports).procedure || last(patient.reports).exam_type}} Summary</p>
                            <p class="normal">{{last(patient.reports).findings}}</p><div class="jewel path-jewel">{{findObjs('type', 'path', patient.reports)[0].classification}}</div>
                        </div><div class="cell_section_2">
                            <p class="completed">{{patient.reports[patient.reports.length - 1].procedure || patient.reports[patient.reports.length - 1].exam_type}} Completed<br><span>{{findObj('type', 'path', patient.reports).date}}</span></p>
                            <ul class="normal">
                                <li ng-show="!patient.requested_feedback.is_fulfilled" class='pending'><span>Pending feedback</span></li>
                                <li ng-repeat="r in findObjs('type', 'path', patient.reports)"><span>{{r.procedure}} report complete</span></li>
                                <li ng-repeat="r in findObjs('type', 'rad', patient.reports)"><span>{{r.exam_type}} complete</span></li>
                            </ul>
                        </div>

                        

                        <div class="button-container">
                            <div class="cell-button">Mark as Read</div>
                            <div class="cell-button">Archive</div>
                            <div class="cell-button">Send to Colleague</div>
                        </div>
                    </div>
                </div>

                <!-- Pending Radiology -->
                <div class="fu_container" id="pending_rad_fu" ng-show="fu_tab === 5 && detail === false">
                    <div ng-repeat="patient in radpath.patients | pending | pendingRad" class="overview_cell" ng-click="showCaseDetail(patient)">
                        <div class="cell_section_1">
                            <div class="cell_star" ng-class="{starred:patient.star}" ng-click="radpath.toggleStar(patient.id); $event.stopPropagation();"></div>
                            <h2>{{patient.last_name}}, {{patient.first_name}}</h2>
                            <p>#{{patient.reports[patient.reports.length-1].id}}<br/>Primary: Dr. {{patient.physician}}</p>
                        </div>
                        
<div class="cell_section_4">
                            <p class="status_type">{{findObjs('type', 'rad', patient.reports)[0].exam_type}} Report</p>
                            <p class="normal">{{findObjs('type', 'rad', patient.reports)[0].recommend}}{{findObjs('type', 'rad', patient.reports)[0].findings}}</p><div class="jewel">L : {{findObjs('type', 'rad', patient.reports)[0].LBIRAD}}</div>
                        </div>
                        <div class="cell_section_3">
                            <p class="status_type">{{last(patient.reports).procedure || last(patient.reports).exam_type}} Summary</p>
                            <p class="normal">{{last(patient.reports).findings}}</p><div class="jewel path-jewel">{{findObjs('type', 'path', patient.reports)[0].classification}}</div>
                        </div><div class="cell_section_2">
                            <p class="completed">{{patient.reports[patient.reports.length - 1].procedure || patient.reports[patient.reports.length - 1].exam_type}} Completed<br><span>{{findObj('type', 'path', patient.reports).date}}</span></p>
                            <ul class="normal">
                                <li ng-show="!patient.requested_feedback.is_fulfilled" class='pending'><span>Pending feedback</span></li>
                                <li ng-repeat="r in findObjs('type', 'path', patient.reports)"><span>{{r.procedure}} report complete</span></li>
                                <li ng-repeat="r in findObjs('type', 'rad', patient.reports)"><span>{{r.exam_type}} complete</span></li>
                            </ul>
                        </div>

                        

                        <div class="button-container">
                            <div class="cell-button">Mark as Read</div>
                            <div class="cell-button">Archive</div>
                            <div class="cell-button">Send to Colleague</div>
                        </div>
                    </div>
                </div>

                <!-- Archived -->
                <div class="fu_container" id="archive_fu" ng-show="fu_tab === 6 && detail === false">
                    <div ng-repeat="patient in radpath.patients | archive" class="overview_cell"  ng-click="showCaseDetail(patient)">
                        <div class="cell_section_1">
                            <div class="cell_star" ng-class="{starred:patient.star}" ng-click="radpath.toggleStar(patient.id); $event.stopPropagation();"></div>
                            <h2>{{patient.last_name}}, {{patient.first_name}}</h2>
                            <p>#{{patient.reports[patient.reports.length-1].id}}<br/>Primary: Dr. {{patient.physician}}</p>
                        </div>
                        
<div class="cell_section_4">
                            <p class="status_type">{{findObjs('type', 'rad', patient.reports)[0].exam_type}} Report</p>
                            <p class="normal">{{findObjs('type', 'rad', patient.reports)[0].recommend}}{{findObjs('type', 'rad', patient.reports)[0].findings}}</p><div class="jewel">L : {{findObjs('type', 'rad', patient.reports)[0].LBIRAD}}</div>
                        </div>
                        <div class="cell_section_3">
                            <p class="status_type">{{last(patient.reports).procedure || last(patient.reports).exam_type}} Summary</p>
                            <p class="normal">{{last(patient.reports).findings}}</p><div class="jewel path-jewel">{{findObjs('type', 'path', patient.reports)[0].classification}}</div>
                        </div><div class="cell_section_2">
                            <p class="completed">{{patient.reports[patient.reports.length - 1].procedure || patient.reports[patient.reports.length - 1].exam_type}} Completed<br><span>{{findObj('type', 'path', patient.reports).date}}</span></p>
                            <ul class="normal">
                                <li ng-show="!patient.requested_feedback.is_fulfilled" class='pending'><span>Pending feedback</span></li>
                                <li ng-repeat="r in findObjs('type', 'path', patient.reports)"><span>{{r.procedure}} report complete</span></li>
                                <li ng-repeat="r in findObjs('type', 'rad', patient.reports)"><span>{{r.exam_type}} complete</span></li>
                            </ul>
                        </div>

                        

                        <div class="button-container">
                            <div class="cell-button">Mark as Read</div>
                            <div class="cell-button">Archive</div>
                            <div class="cell-button">Send to Colleague</div>
                        </div>
                    </div>
                </div>

                <!-- Detail View -->
                <div class="fu_container" id="detail_fu" ng-show="detail == true" ng-click="detailForm = false">
                    <section class="report timeline">
                        <div class="report-header">
                            <div>Patient</div>
                            <div>Timeline</div>
                        </div>

                        <div class="report-body">
                            <div class="left-col">
                                <div class="cell_section_1">
                                    <div class="cell_star" ng-class="{starred:detailCase.star}" ng-click="radpath.toggleStar(detailCase.id)"></div>
                                    <h2>{{detailCase.last_name}}, {{detailCase.first_name}}</h2>
                                    <p>#JS0490FNN3Z0<br/>Primary: Dr. {{patient.physician}}<br/>DOB: 11/13/75</p>
                                </div>
                            </div>
                            <div class="right-col">
                                <div class="timeline-group">
                                    <div ng-repeat="report in detailCase.reports" class="timeline-event">
                                        <div class="timeline-date">{{report.date}}</div>
                                        <div class="timeline-label">{{report.exam_type || report.procedure}}</div>
                                    </div>
                                    <div ng-show="!detailCase.requested_feedback.is_fulfilled" class="timeline-event">
                                        <div class="timeline-date pending-color">pending</div>
                                        <div class="timeline-label">Biopsy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section ng-repeat="report in detailCase.reports" class="report rad-report">
                        <div class="report-header">
                            <div>{{report.date}}</div>
                            <div>{{report.exam_type || report.procedure}}</div>
                        </div>

                        <div class="report-body">
                            <div class="left-col">
                            Findings:
                                <div class="jewel" ng-show="report.LBIRAD || report.RBIRAD">
                                    L : {{report.LBIRAD}}<br>R : {{report.RBIRAD}}
                                </div>
                                <div class="jewel path-jewel" ng-show="report.classification">{{report.classification}}</div>
                            <p class="report-id">CHJ764</p>
                            <p>{{doctorDisplay(report)}}</p>
                            </div>
                            <div class="right-col">
                                <p>{{report.findings}} | {{report.recommend}}</p>

                                <img src="img/R1.png" width="90" />

                                <div class="open-whole-case">Open Case</div>
                            </div>
                        </div>
                    </section>
                    <div class="small-followup-form detail-page-form" ng-show="detailForm == true">
                            <form name="requestFeedbackForm" ng-controller="RequestFeedbackController as requestFeedbackCtrl" ng-submit="requestFeedback(detailCase)" ng-click="$event.stopPropagation()">
                                <div class="requestFeedbackInput">
                                    <div>Any Radiology Report</div>
                                    <input type="checkbox" name="any_radiology" ng-model="feedbackRequest.type.any_radiology">
                                </div>
                                <div class="requestFeedbackInput">
                                    <div>Breast MRI</div>
                                    <input type="checkbox" name="breast_mri" ng-model="feedbackRequest.type.breast_mri">
                                </div>
                                <div class="requestFeedbackInput">
                                    <div>Mammogram</div>
                                    <input type="checkbox" value="mammogram" ng-model="feedbackRequest.type.mammogram">
                                </div>
                                <div class="requestFeedbackInput">
                                    <div>Ultrasound</div>
                                    <input type="checkbox" value="ultrasound" ng-model="feedbackRequest.type.ultrasound">
                                </div>
                                <div class="requestFeedbackInput">
                                    <div>Other Radiology Report</div>
                                    <input type="checkbox" value="other_radiology" ng-model="feedbackRequest.type.other_radiology">
                                </div>
                                <hr>
                                <div class="requestFeedbackInput">
                                    <div>Pathology Report</div>
                                    <input type="checkbox" value="pathology" ng-model="feedbackRequest.type.pathology">
                                </div>
                                <hr>
                                <div class="requestFeedbackInput">
                                    <div>6 Month Follow Up</div>
                                    <input type="checkbox" value="six_month" ng-model="feedbackRequest.type.six_month">
                                </div>
                                <hr>
                                <div class="requestFeedbackInput" id="notes-{{patient.id}}">
                                    <div onclick="addNotes()">Add Notes to Follow Up</div>
                                    <textarea rows="4" cols="27"></textarea>
                                </div>
                                <div class="requestFeedbackInput">
                                    <div>Send to Colleague</div>
                                </div>
                                <hr>
                                <div class="requestFeedbackInput">
                                    <input type='submit' value='Request Follow Up' ng-click="detailForm = false">
                                </div>
                            </form>
                        </div>
                </div>

                <div style="display:none;" id="followup-available">
                    <!-- follow up available section -->
                    <ul>
                        <li ng-repeat="patient in radpath.patients">
                            <h2>{{patient.last_name}}, {{patient.first_name}}</h2>
                            <ul class="report-cell-list">
                                <li class="report-cell" ng-repeat="report in patient.reports">
                                    <div ng-show="report.type == 'rad'" class="report-list-item rad-item">
                                        <h3>Radiology Report</h3>
                                        <b>ID:</b> {{report.id}}<br/>
                                        <b>Date</b> {{report.date}}<br/>
                                        <b>Exam type:</b> {{report.exam_type}}<br/>
                                        <b>Left BIRADS Score:</b> {{report.LBIRAD}}<br/>
                                        <b>Right BIRADS Score:</b> {{report.RBIRAD}}<br/>
                                        <b>Findings:</b> {{report.findings}}<br/>
                                        <b>Recommendation:</b> {{report.recommend}}<br/>
                                        <b>Radiologist:</b> Dr. {{ radpath.getRadiologist(report.radiologist_id)}}
                                    </div>

                                    <div ng-show="report.type == 'path'" class="report-list-item path-item">
                                        <h3>Pathology Report</h3>
                                        <b>ID:</b> {{report.id}}<br/>
                                        <b>Date</b> {{report.date}}<br/>
                                        <b>Diagnosis:</b> {{report.diagnosis}}<br/>
                                        <b>FD CUIs:</b> {{report.fd_cui}}<br/>
                                        <b>Location:</b> {{report.location}}<br/>
                                        <b>Procedure</b> {{report.procedure}}<br/>
                                        <b>Findings:</b> {{report.findings}}<br/>
                                        <b>Classification:</b> {{report.classification}}<br/>
                                        <b>Pathologist:</b> Dr. {{ radpath.getPathologist(report.pathologist_id)}}
                                    </div>
                                <li>
                            </ul>
                            <div>
                            <b>Recieving Feedback for:</b> 
                                <span ng-repeat="(key, value) in patient.requested_feedback.type | filter:value">
                                    {{key}} | 
                                </span>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/data.js"></script>
        <script src="js/helpers.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
